.programs {
  padding-top: 100px;
  @media (min-width: $screen-desktop) {
    padding-top: 110px;
  };
  //background-color: $very-light-gray;
  font-size: 14px;
  line-height: 1.5;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
  }

  .container {
    background-color: white;
  }
  &__title {
    padding: 20px 0 30px 0;
    text-align: center;
    color: $green;
    font-size: $page-title-size;
  }

  &__main {
    margin: 0;

    &__block {
      padding-bottom: 20px;
      &__title {
        text-align: center;
        color: $green;
        padding-bottom: 10px;
      }
      &__img{
        padding-bottom: 10px;
        width: 100%;
        height: auto;
      }

      &--container {
        overflow: auto;
        padding: 50px 0;
      }

      &__left {

      }

      &__right {
        padding: 0;
      }

      &__line {
        font-weight: bold;
      }
    }

    &__components {
      clear: both;
      border-top: 1px solid;
      border-bottom: 1px solid;
      &__head-title {
        text-align: center;
        color: $green;
        margin-bottom: 50px;
      }

      &__item {
        padding-bottom: 100px;
        &:nth-last-child(1) {
          padding-bottom: 50px;
        }
        &__title {
          padding-left: 100px;
          margin: 0;
        }
        &__content {
          &__first-line {
            font-weight: bold;
          }

          &__line {

          }

          &__image {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

    }

    &__speech {
      text-align: right;
      margin: 50px 0 50px 0;
      color: $green;
      &__text {
        font-size: 16px;
        @media (min-width: $screen-tablet) {
          font-size: 18px;
        }
      }
      &__owner {
        font-size: 15px;
        font-style: italic;
        @media (min-width: $screen-tablet) {
          font-size: 17px;
        }

      }
    }

  }
}