header
.programs
  .container
    .row
      h1.programs__title {{App.program.title}}
    .row
      aside.col-xs-3
        .row.side-bar
          .side-bar__item(ng-repeat="item in menuFilters")
            a(href="{{item.link}}")
              h4(ng-class="{'side-bar__item--active': item.active}").side-bar__item__title {{item.title}}
            .side-bar__item__branch--container-display
              .side-bar__item__branch(ng-repeat="subItem in item.items")
                a(href="{{subItem.link}}")
                 p(ng-class="{'side-bar__item--active': subItem.active}") {{subItem.title}}
      main.col-xs-9
        .row.programs__main
          .programs__main__intro
            .programs__main__intro__line
              .programs__main__intro__line--text {{App.program.content.introduction.title}}
            .programs__main__intro__line(ng-repeat="line in intros")
              .programs__main__intro__line--key {{line.keyword}}
              |&nbsp
              .programs__main__intro__line--text {{line.text}}
          .programs__main__block
            h2.programs__main__block__title.programs__main__block__title--bold {{App.program.content.globalPresence.title}}
            img.programs__main__block__img(src="{{App.program.content.globalPresence.image}}" alt="")
            .programs__main__block__line(ng-repeat="line in App.program.content.globalPresence.description")
              |{{line}}
          .programs__main__block
            h2.programs__main__block__title {{App.program.content.statistic.title}}
            img.programs__main__block__img(src="{{App.program.content.statistic.image}}" alt="")
            .programs__main__block__line(ng-repeat="line in App.program.content.statistic.description")
              | {{line}}
          .programs__main__speech
            .programs__main__speech__text "{{App.program.content.speech.text}}"
            .programs__main__speech__owner {{App.program.content.speech.owner}}

footer