.past-programs {
  padding-top: 100px;
  @media (min-width: $screen-desktop) {
    padding-top: 110px;
  };
  //background-color: $very-light-gray;

  .container {
    background-color: white;
  }

  &__title {
    padding: 20px 0 30px 0;
    text-align: center;
    color: $green;
    font-size: $page-title-size;
  }

  &__content{
    position: relative;
    margin-bottom: 40px;
    &__main {
      &__line {
        font-size: 18px;
        font-family: $font-bold;
      }
    }
  }

  &__timeline {
    font-size: 18px;
    &__title {
      position: absolute;
      bottom: 0;
      text-align: center;
      color: $green;
    }

    &__chart {
      width: 100%;
      display: table;
      table-layout: fixed;
      padding: 5px 0;
      &:nth-child(2n+1) {
        border-bottom: 5px solid;
      }
      ul {
        display: table-row;
        li {
          display: table-cell;
          text-align: center;
        }
      }
      &__item {
        &:nth-child(2n+1) {
          .past-programs__timeline__chart__vertical-line {
            height: 50px;
          }
          .past-programs__timeline__chart__item__info {
            height: 100px;
          }
        }
        &__year {
          font-weight: bold;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: $green;
            }
          }
        }
        &__info {
          height: 50px;
          position: relative;
          &--container {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
          }
          &__line {
            &--number {
              display: inline;
              font-family: $font-bold;
              color: $green;
            }

            &--subfix {
              display: inline;
            }
          }
        }
      }

      &__vertical-line {
        height: 100px;
        position:relative;
        text-align:center;

        &:after {
          content:"";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          border-left: 1px solid;
        }
      }
      &__hozirontal-line {
        height: 2px;
        background-color: black;
      }
      &__year {
        position:relative;
        text-align:center;
        bottom: -50px;
      }
    }
  }

  &__instruction {
    padding: 100px 0 10px 0;
    min-height: 100px;
    border-bottom: 1px solid;

    &__title {
      font-weight: bold;
      text-align: center;
    }
  }

  &__history {
    &:nth-last-child(1) {
      .grid-container {
        border: 0;
      }
    }
  }
}