.header{
  animation-duration:400ms !important;
  background-color:white;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  //box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
  transition:all 250ms ease;
  min-height: 80px;
  padding: 10px 0;
  //border-bottom: 1px solid #E5E5E5;

  @media (min-width: $screen-desktop) {
    min-height: 100px;
    padding: 15px 0;
  }

  &--fixed {
      position: absolute;
      z-index: 99;
      right: 0;
      left: 0;
      top: 0;
  }

  &__content {
    position: relative;
    &__logo {
      img {
        width: auto;
        height: 70px;

        @media (min-width: $screen-desktop) {
          height: 80px;
        }
      }
    }

    &__menu {

      text-align: left;
      @media (min-width: $screen-tablet) {
        text-align: right;
      }
      &--active {
        color: $green;
      }

      &__line-1 {
        text-align: right;
        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          h6 {
            font-size: 12px;
            margin: 0;
          }
          @media (min-width: $screen-desktop) {
            h6 {
              font-size: 14px;
            }
          }
          &:hover {
            color: $green;
          }
        }
      }

      &__line-2 {
        margin-top: 11px;
        margin-left: 30px;
        @media (min-width: $screen-tablet) {
          margin-left: 0;
          margin-top: 21px;
        }
        @media (min-width: $screen-desktop) {
          margin-top: 24px;
        }
        &__item{
          padding-bottom: 15px;
          @media (min-width: $screen-tablet) {
            padding-bottom: 0;
          }
          a {
            color: black;
            text-decoration: none;
            display: block;
            font-weight: bold;
            h5 {
              font-size: 14px;
              font-weight: bold;
              margin: 0;
            }
            @media (min-width: $screen-desktop) {
              h5 {
                font-size: 16px;
              }
            }
            &:hover {
              color: $green;
            }
          }
        }

        ul {
          list-style-type: none;
          font-weight: bold;
          padding-left: 100px;
          //text-align: center;

          li {
            display: inline-block;
            width: 200px;
            font-size: 18px;
            height: 30px;
            line-height: 30px;
            margin-left: -5px;
            text-transform: uppercase;

            a {
              color: $black;
              text-decoration: none;
              display: block;
              &:hover,:visited {
                color: $green;
              }

            }
          }
        }
      }
    }

  }


}