.main-header{
  animation-duration:400ms !important;
  background-color:black;
  box-sizing:border-box;
  //box-shadow:0 6px 4px rgba(0, 0, 0, 0.2);
  transition:all 250ms ease;
  min-height: 60px;
  //border-bottom: 1px solid #E5E5E5;

  &--fixed {
      position: absolute;
      z-index: 99;
      right: 0;
      left: 0;
      top: 0;
  }

  a {
    color: $light-gray;
    text-decoration: none;
    display: block;
    &:hover,:visited {
      color: white;
    }
  }

  &--transparent.headroom--top {
      background-color:transparent;
      color:white;
      box-shadow:none;
      a {
        color: white;
        &:hover,:visited {
          color: $light-green;
        }
      }
  }

  &__nav {
    position: relative;
    width: 100%;
    &__item {
      margin-top: 10px;
    }
    img {
      width: 48px;
      height: 48px;
      margin-top: -10px;
    }
    &--right {
      position: absolute;
      right: 0;
      padding-right: 15px;
    }

    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      li {
        display: inline-block;
        width: 65px;
        height: 40px;
        line-height: 48px;
        margin-left: -5px;
        &:last-child {
          width: 48px;
          text-align: right;
        }

        @media(min-width: $screen-phone) {
          width: 100px;
        }
        @media(min-width: $screen-tablet) {
          width: 120px;
        }
      }
    }
  }
}