.container
  .row
    .header__content
      .header__content__logo.col-xs-3
        img(src="http://placehold.it/80x80?text=Logo")
      .header__content__menu.col-xs-9
        .header__content__menu__line-1
          ul
            li
              a(href="#") {{App.pageMenu.item1}}
            li
              a(href="#") {{App.pageMenu.item2}}
            li
              a(href="#") {{App.pageMenu.item3}}
        .header__content__menu__line-2
          ul
            li
              a(href="#") {{App.pageMenu.item4}}
            li
              a(href="#")
                .header__content__menu__line-2--active {{App.pageMenu.item5}}
            li
              a(href="#") {{App.pageMenu.item6}}