.main-header__nav
  .main-header__nav--right
    ul
      li
        a(href="#") {{App.homeMenu.item1}}
      li
        a(href="#") {{App.homeMenu.item2}}
      li
        a(href="#") {{App.homeMenu.item3}}
      li
        a(href="#") {{App.homeMenu.item4}}
      li
        a(href="#")
          img(src="http://placehold.it/300x300?text=Logo")