.main-header__nav
  .main-header__nav--right
    ul
      li
        a(href="#") Programs
      li
        a(href="#") Partners
      li
        a(href="#") About Us
      li
        a(href="#") Donate
      li
        a(href="#")
          img(src="http://placehold.it/300x300?text=Logo")