.main-header__nav
  .main-header__nav--right
    ul
      li
        a(href="{{App.homeMenu.item1.link}}")
          h5.main-header__nav__item {{App.homeMenu.item1.name}}
      li
        a(href="{{App.homeMenu.item2.link}}")
          h5.main-header__nav__item {{App.homeMenu.item2.name}}
      li
        a(href="{{App.homeMenu.item3.link}}")
          h5.main-header__nav__item {{App.homeMenu.item3.name}}
      li
        a(href="{{App.homeMenu.item4.link}}")
          h5.main-header__nav__item {{App.homeMenu.item4.name}}
      li
        a(href="/")
          img(src="/assets/images/logo/SEO_Vietnam.jpg")