.footer {
  padding: 30px 0;
  border-top: 2px solid $green;
  &__menu {
    text-align: center;
    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
      li {
        display: inline-block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        margin-left: -5px;
        @media(min-width: $screen-phone) {
          width: 100px;
          height: 40px;
          line-height: 40px;
        }
        a {
          color: black;
          text-decoration: none;
          &:hover,:visited {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__email {
    float: left;
    width: 100%;
    text-align: center;
    &__link {
      @media(min-width: $screen-phone) {
        display: block;
      }
    }

    @media(min-width: $screen-phone) {
      width: 50%;
      text-align: left;
    }
  }

  &__shares {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    @media(min-width: $screen-phone) {
      width: 50%;
      text-align: right;
      margin-top: 0;
    }

    &--red {
      color: #cc181e;
    }
    &--blue {
      color: #3B5998;
    }
    &--green {
      color: #0077b5;
    }
    a {
      margin-left: 10px;
      text-decoration: none;
      i {
        opacity: 1;
        font-size: 40px;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
