.container
  .row
    .footer__menu.col-xs-12
      ul
        li
          a(href="#") {{App.footer.item1}}
        li
          a(href="#") {{App.footer.item1}}
        li
          a(href="#") {{App.footer.item1}}
        li
          a(href="#") {{App.footer.item1}}
        li
          a(href="#") {{App.footer.item1}}
    .footer__email.col-xs-6
      p Email
      p {{App.footer.email}}
    .footer__shares.col-xs-6
      a(href="#")
        img(src="http://placehold.it/32x32?text=Facebook")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Youtube")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Intagram")