.container
  .row
    .footer__menu.col-xs-12
      ul
        li
          a(href="{{App.footer.item1.link}}") {{App.footer.item1.name}}
        li
          a(href="{{App.footer.item2.link}}") {{App.footer.item2.name}}
        li
          a(href="{{App.footer.item3.link}}") {{App.footer.item3.name}}
        li
          a(href="{{App.footer.item4.link}}") {{App.footer.item4.name}}
        li
          a(href="{{App.footer.item5.link}}") {{App.footer.item5.name}}
    .footer__email.col-xs-6
      p Email
      p {{App.footer.email}}
    .footer__shares.col-xs-6
      a(href="#")
        img(src="http://placehold.it/32x32?text=Facebook")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Youtube")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Intagram")