.container
  .row
    .footer__menu.col-xs-12
      ul
        li
          a(href="#") Programs.
        li
          a(href="#") Apply.
        li
          a(href="#") Partners.
        li
          a(href="#") About Us.
        li
          a(href="#") Donate.
    .footer__email.col-xs-6
      p Email
      p malnemail@seovn.com
    .footer__shares.col-xs-6
      a(href="#")
        img(src="http://placehold.it/32x32?text=Facebook")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Youtube")
      a(href="#")
        img(src="http://placehold.it/32x32?text=Intagram")