.container
  .row
    .footer__menu.col-xs-12
      ul
        li
          a(href="{{App.footer.item1.link}}") {{App.footer.item1.name}}
        li
          a(href="{{App.footer.item2.link}}") {{App.footer.item2.name}}
        li
          a(href="{{App.footer.item3.link}}") {{App.footer.item3.name}}
        li
          a(href="{{App.footer.item4.link}}") {{App.footer.item4.name}}
        li
          a(href="{{App.footer.item5.link}}") {{App.footer.item5.name}}
    .col-xs-6
      p Email:
      p.footer__email
        a(href="mailto:{{App.footer.email}}")
         span {{App.footer.email}}
    .footer__shares.col-xs-6
      a(href="http://facebook.com/seovie")
        i.fa.fa-facebook-square
      a(href="http://www.youtube.com/user/seovietnam2012")
        i.fa.fa-youtube-square
      a(href="#")
        i.fa.fa-instagram