.apply {
  $padding-section: 50px;
  padding-top: 100px;
  @media (min-width: $screen-desktop) {
    padding-top: 110px;
  };
  font-size: 16px;
  &__banner{
    color: white;
    overflow: auto;
    position: relative;
    min-height: 640px;
    &__bg {
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 640px;
      background-image:url(/assets/images/apply/spotlight.jpg);
      background-position:center top;
      background-repeat: no-repeat;
    }

    &__title {
      text-align: center;
      margin-bottom: 30px;
    }
    &__content {
      padding: 30px;
      &__left {
        text-align: center;
        padding: 0 20px;
        @media(min-width: $screen-desktop) {
          padding: 0 50px;
        }

        @media(min-width: $screen-laptop) {
          padding: 0 100px;
        }
        &--factor {
          margin-bottom: 50px;
        }
        &__hozirontal-line {
          display: inline-block;
          border-bottom: 1px solid;
          width: 50px;
          text-align: center;
        }
        &__title {
          font-weight: bold;
        }
        &__description {

        }

        &__link {
          margin-top: 20px;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              font-weight: bold;
            }
          }

        }
      }
      &__right {
        text-align: center;
        font-weight: bold;
        padding: 0 20px;
        @media(min-width: $screen-desktop) {
          padding: 0 50px;
        }

        @media(min-width: $screen-laptop) {
          padding: 0 100px;
        }

        &__title {

        }
        &__event {

        }
        &__deadline {

        }
        &__button {
          margin-top: 20px;
          border: 2px solid white;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  &__process {
    padding: $padding-section $padding-section 0 $padding-section;
    &__table {
      &__title {
        padding-right: 20px;
        &--right {
          float: right;
        }
        h3 {
          display: table-caption;
          text-align: right;
          color: $green;
          font-weight: bold;
        }
      }

      table {
        width: 100%;
        text-align: center;
        tr td {
          padding: 15px;
        }
      }

      &__cell {
        &--name {
          width: 30%;
        }
        &--time {
          width: 70%;
        }
      }
    }

    &__paragraph {
      padding-top: 20px;
      text-align: center;
      &__horizontal-line {
        display: inline-block;
        border-bottom: 1px solid;
        width: 50%;
        margin-top: 30px;
      }
    }
  }

  &__carousel {
    padding: $padding-section;

    .row {
      margin: 0;
      padding: 0 50px;
    }
    &--container {
      position: relative;
    }

    .owl-nav {
      position: absolute;
      top: 5%;
      width: 100%;

      @media(min-width: $screen-desktop) {
        top: 25%;
      }

      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $very-light-gray;
        }
      }
      .owl-prev{
        display: inline-block;
        position: absolute;
        left: -100px;
        height: 100px;
        padding-top: 20px;
        width: 50px;
        vertical-align: middle;
        background-color: $green;
      }

      .owl-next {
        display: inline-block;
        position: absolute;
        padding-top: 20px;
        right: -100px;
        height: 100px;
        width: 50px;
        background-color: $green;
      }
    }

    &__item {
      &__left {
        min-height: 200px;
        padding: 0;
        &__bg {
          width: 100%;
          height: auto;
        }
      }

      &__right {
        min-height: 130px;
        padding: 0 0 0 $padding-section/4;
        position: relative;
        font-size: 14px;
        @media(min-width: $screen-desktop) {
          min-height: 190px;
          font-size: 15px;
        }
        @media(min-width: $screen-laptop) {
          min-height: 230px;
          padding: $padding-section/2 0 0 $padding-section/2;
        }
        &__text {
          text-align: center;
          font-style: italic;
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          p {
            margin: 0;
          }
          @media(min-width: $screen-desktop) {
            -webkit-line-clamp: 6;
          }
          @media(min-width: $screen-laptop) {
            -webkit-line-clamp: 7;
          }
        }
        &__footer {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 13px;
          p {
            margin: 0;
            text-align: right;
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          @media(min-width: $screen-desktop) {
            -webkit-line-clamp: 2;
            font-size: 14px;
          }
        }
      }

      &__link {
        font-size: 50px;
      }
    }
  }
}
