@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/leaguespartan-bold.eot');
  src: url('/assets/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'),
  url('/assets/fonts/leaguespartan-bold.woff') format('woff'),
  url('/assets/fonts/leaguespartan-bold.ttf') format('truetype'),
  url('/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayblack';
  src: url('/assets/fonts/raleway-black.eot');
  src: url('/assets/fonts/raleway-black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/raleway-black.woff2') format('woff2'),
  url('/assets/fonts/raleway-black.woff') format('woff'),
  url('/assets/fonts/raleway-black.ttf') format('truetype'),
  url('/assets/fonts/raleway-black.svg#ralewayblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('/assets/fonts/raleway-light.eot');
  src: url('/assets/fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/raleway-light.woff2') format('woff2'),
  url('/assets/fonts/raleway-light.woff') format('woff'),
  url('/assets/fonts/raleway-light.ttf') format('truetype'),
  url('/assets/fonts/raleway-light.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ralewaymedium';
  src: url('/assets/fonts/raleway-medium.eot');
  src: url('/assets/fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/raleway-medium.woff2') format('woff2'),
  url('/assets/fonts/raleway-medium.woff') format('woff'),
  url('/assets/fonts/raleway-medium.ttf') format('truetype'),
  url('/assets/fonts/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
