// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-laptop:              $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$blue:          #084C97;
$cyan:          #1AA0E1;
$very-light-gray:#EFEFEF;//probably only the submenu uses this
$light-gray:    #C8C8C7;
$dark-gray:     #6A6A6A;
$black:         #1C1C1C;
$brown:         #633B09;
$green:         #0F5E22;
$light-green:   #449d44;
$teal:          #0F7480;
$purple:        #512576;
$crimson:       #78053A;
$orange:        #E69524;
$pantone-646C:  #598FC0;
$pantone-7545U: #68757D;
$pantone-5625C: #7C8D7E;
$pantone-198U:  #E85978;

$font-bold:"ralewayblack", Helvetica, Arial, sans-serif;
$font-light:"ralewaylight", Helvetica, Arial, sans-serif;
$font-medium:"ralewaymedium", Helvetica, Arial, sans-serif;

$font-ls: "League Spartan", sans-serif;
$font-pd: 'Playfair Display', serif;

$page-title-size: 44px;