$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



// Component styles are injected through grunt
// injector
@import '_fonts.scss';
@import '_vars.scss';
@import 'about-us/_about-us.scss';
@import 'apply/_apply.scss';
@import 'donate/_donate.scss';
@import 'main/_main.scss';
@import 'main/_spotlight.scss';
@import 'momentum-program/_momentum-program.scss';
@import 'partners/_be-a-partner.scss';
@import 'partners/_partners.scss';
@import 'past-programs/_past-program.scss';
@import 'programs/_programs.scss';
@import '../components/footer/_footer.scss';
@import '../components/header/_header.scss';
@import '../components/header/_main-header.scss';
@import '../components/mixins/branch-grid/_brand-grid.scss';
@import '../components/mixins/common-grid/_common-grid.scss';
@import '../components/mixins/side-bar/_side-bar.scss';
@import '../components/modal/_modal.scss';
@import '../components/navbar/_navbar.scss';
// endinjector


body {
  font-family: $font-medium;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-pd;
}

//.container {
//  padding: 0;
//
//  @media(min-width: $screen-tablet) {
//    padding: 0 45px;
//  }
//
//  @media(min-width: $screen-desktop) {
//    padding: 0 90px;
//  }
//}
