.side-bar {
  a {
    text-decoration: none;
    color: black;
    &:hover, &:visited {
      color: $green;
    }
  }

  &__item {
    border-top: 2px solid black;
    padding-bottom: 20px;
    h3 {
      margin-top: 5px;
    }
    &__title {
      text-transform: uppercase;
      font-family: $font-bold;

      &--active {
        color: $green;
      }
    }

    &__branch {
      font-family: $font-medium;
      font-weight: bold;
      line-height: 1.5;
    }
  }
}