.partners {
  padding-top: 125px;
  padding-bottom: 50px;
  background-color: $very-light-gray;
  .container {
    background-color: white;
  }
  &__title {
    text-align: center;
    color: $green;
    font-size: 54px;
  }

  &__main {
    border-left: 2px solid $very-light-gray;
    min-height: 1000px;
    margin-bottom: 50px;
  }

}