header
.be-a-partner
  .container
    .row
      h1.be-a-partner__title {{App.beAPartner.title}}
    .row
      .be-a-partner__main
        .be-a-partner__main__content--container
          .be-a-partner__main__content
            p SEO-Vietnam would welcome inquiries and be happy to identify synergies that could create mutual benefits for the interns, your company and our organization. Here is what you should know about becoming an employer partner with us.
        .be-a-partner__main__content--container
          h4.be-a-partner__main__title Profile
          .be-a-partner__main__content
            ul
              li Based in Hanoi or Hochiminh City
              li Well-known in their respective industries
              li Committed in developing young talents
              li Sharing our values in making an impact in Vietnam
              li Past partners include EY, IDG Ventures, VIG, ACB, Microsoft, Kinh Do, P&G, Lazada, Yola, etc.
        .be-a-partner__main__content--container
          h4.be-a-partner__main__title Benefits
          .be-a-partner__main__content
            ul
              li Employing the brightest and most capable interns in Vietnam
              li Having access to a diverse group of college students that studied in top local and global universities
              li Joining a network of leading international and local companies across a wide range of industry sectors
              li A chance to hold a Speaker Series* event at your office
              li SEO-V alumni work at Goldman Sachs, McKinsey, BCG, PwC, Amazon, Google, Unilever, etc.
        .be-a-partner__main__content--container
          h4.be-a-partner__main__title Process
          .be-a-partner__main__content
            ul
              li Reviewing the detailed information available on our website
              li Contacting our External Relations Director Le-Anh "Tim" Nguyen (<a href="mailto:anh.nguyen@seo-vietnam.org">anh.nguyen@seo-vietnam.org</a>) via email
              li Face-to-face meeting with External Relations Director and a Board Member
              li Informed decisions after SEO-V's internal discussion
        .be-a-partner__main__content--container
          p Thank you for your interest in partnering with us.
          p *Speaker Series is an office-held event tailored to give students a chance to directly interact with leaders of our partner companies. During these sessions, students can learn about different working environments across various industries in Vietnam, as well as explore possible career path through sharing from speakers.
        .be-a-partner__main__img
          img(src="/assets/images/partners/beapartner.jpg" alt="")
footer
