header
.about-us
  .container
    .row
      h1.about-us__title {{App.aboutUs.title}}
    .about-us__story
      .about-us__story__image
        img(src="{{App.aboutUs.chairman.image}}" alt="")
        p {{App.aboutUs.chairman.text}}
      .row.about-us__story__text
        .about-us__story__text__line(ng-repeat="line in App.aboutUs.stories track by $index")
          p {{line}}
    .about-us__vertical-line
    .row
      .about-us__vision-mission
        .about-us__vision-mission__item.col-xs-6
          h2.about-us__vision-mission__item__title Vision
          .about-us__vision-mission__item__line {{App.aboutUs.vision}}
        .about-us_vision-mission__item.col-xs-6
          h2.about-us__vision-mission__item__title Mission
          .about-us__vision-mission__item__line(ng-repeat="line in App.aboutUs.mission")
            p {{line}}
    .row
      .about-us__values
        h2.about-us__values__title Values
        .about-us__values__item.col-xs-12(ng-repeat="item in App.aboutUs.values")
          .row
            h4.about-us__values__item__title.col-xs-4 {{item.title}}
            .about-us__values__item__content.col-xs-8 {{item.text}}
    .about-us__vertical-line
    .row
      .about-us__our-people
        h2.about-us__our-people__title Our People
        .about-us__our-people--container
          h4.about-us__our-people__item__title.col-xs-12 Board of Directors
          .about-us__our-people__item.col-xs-3(ng-repeat="director in App.aboutUs.directors track by $index")
            .about-us__our-people__item__img
              img(src="{{director.image}}" alt="")
            .about-us__our-people__item__name {{director.name}}
            .about-us__our-people__item__description {{director.description}}
        .about-us__our-people--container
          h4.about-us__our-people__item__title.col-xs-12 Executive Members
          .about-us__our-people__item.col-xs-3(ng-repeat="member in App.aboutUs.members track by $index")
            .about-us__our-people__item__img
              img(src="{{member.image}}" alt="")
            .about-us__our-people__item__name {{member.name}}
            .about-us__our-people__item__description {{member.description}}
footer