.spotlight{
    width:100%;
    position:relative;
    height:384px;
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing:border-box;
    color:white;

    @media (min-width:$screen-desktop){
        height:512px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        background-image:url(/assets/images/home/spotlight.png);
        background-position:center top;
        background-repeat: no-repeat;
        background-attachment:fixed;
        z-index: -1;
        @media (min-width:$screen-desktop){
            background-size:100% auto;

        }
    }

    &__content {
        position:absolute;
        top:40%;
        transform:translate3d(0, -40%,0);
        width: 80%;

        @media(min-width: $screen-desktop) {
            width: 30%;
        }

        &__logo {
            margin-bottom: 50px;
        }

        &__tag-line {
            &__title {
                font-size:34px;
                font-family: $font-medium;
                font-weight: bold;
                text-transform:uppercase;
            }

            &__description {
                font-size:21px;
                font-style: italic;
                line-height: 1.4;
            }

            &__link {
                margin-top: 50px;
                a {
                    position:absolute;
                    font-size:24px;
                    font-family: $font-medium;
                    font-weight: bold;
                    text-decoration: underline;
                    color: white;
                }
            }
        }
    }

    &__link {
        position:absolute;
        bottom:30%;
        width: 30%;
        a {
            position:absolute;
            font-size:24px;
            font-family: $font-medium;
            font-weight: bold;
            text-decoration: underline;
            color: white;
        }
    }

}
