main-header
include ./spotlight.jade
section.main-body
  .home-page
    .container
        .row.home-page__content
            .home-page__content__company-mission
              .home-page__content__company-mission__content
                h3.home-page__content__company-mission__content__title {{App.home.company.title}}
                .home-page__content__company-mission__content__description {{App.home.company.description}}
                .btn.home-page__content__company-mission__content__link {{App.button.learnMore}}

            .home-page__content__partners
              h3.home-page__content__partners__title
                .home-page__content__partners__title--bracket {
                .home-page__content__partners__title--text {{App.home.partner.title}}
                .home-page__content__partners__title--bracket }
              .row.home-page__content__partners--first
                .home-page__content__partners__details.col-xs-8
                  .home-page__content__partners__details__text {{App.home.partner.description}}
                    .home-page__content__partners__details__text--link
                      a(href="/partners") &#8592; {{App.button.detail}}
                .home-page__content__partners__details__branch.col-xs-4
                    img(src="http://placehold.it/300x300?text=Logo" alt="")
              .row.row.home-page__content__partners--second
                .home-page__content__partners__details__branch.col-xs-4
                    img(src="http://placehold.it/300x300?text=Logo" alt="")
                .home-page__content__partners__details__branch.col-xs-4
                    img(src="http://placehold.it/300x300?text=Logo" alt="")
                .home-page__content__partners__details__branch.col-xs-4
                  img(src="http://placehold.it/300x300?text=Logo" alt="")
            .home-page__content__img
              img(src="/assets/images/home/com-mission.png" alt="")
footer