section.spotlight
  .spotlight__bg
  //.spotlight__bg(src="/images/bg/top.jpg" alt="spotlight image")
  .container
    .spotlight__content
      .spotlight__content__logo
        img(src="http://placehold.it/200x200?text=Logo")
      h1.spotlight__content__tag-line__title Make an impact.
      .spotlight__content__tag-line__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac sodales ipsum. Aenean pellentesque arcu a rhoncus eleifend.
    .spotlight__link
      a(href="/apply") Apply Now