section.spotlight
  .spotlight__bg
  //.spotlight__bg(src="/images/bg/top.jpg" alt="spotlight image")
  .container
    .spotlight__tag-line-container
      h1.spotlight__tag-line
        | Hello!
        br
        | We are TechKids