section.spotlight
  .spotlight__bg
  //.spotlight__bg(src="/images/bg/top.jpg" alt="spotlight image")
  .spotlight__content
    h1.spotlight__content__tag-line__title {{App.home.spotlight.title}}
    .spotlight__content__tag-line__description {{App.home.spotlight.description}}
    .spotlight__content__tag-line__link
      a(href="/apply")
        h4 {{App.home.spotlight.link}}