.donate {
  padding-top: 100px;
  @media (min-width: $screen-desktop) {
    padding-top: 110px;
  };
  //background-color: $very-light-gray;
  font-size: 16px;
  font-family: $font-pd;
  line-height: 18px;

  @media (min-width: $screen-tablet) {
    font-size: 16px;
  }

  .container {
    background-color: white;
  }

  &__title {
    padding: 20px 0 30px 0;
    text-align: center;
    color: $green;
    font-size: $page-title-size;
  }

  &__main {
    padding: 0 25px;
    &__block {
      padding-bottom: 25px;
      &__paragraph {
        &--bold {
          padding-top: 15px;
          font-weight: bold;
        }
      }

      &__item {
        &__donate {
          padding: 15px 0 0 60px;
        }
        &__video {
          text-align: center;
          padding-bottom: 50px;
          iframe {
            width: 100%;
            height: 150px;
            @media(min-width: $screen-tablet) {
              height: 200px;
            }
            @media(min-width: $screen-desktop) {
              height: 250px;
            }
          }
        }
      }

      &__payment {
        a {
          text-decoration: none;
          line-height: 1.5;
        }
        &__item {
          &__line {
            font-style: italic;
            &--container {
              margin-top: 5px;
            }
          }
        }
      }
    }
    &__image {
      padding-bottom: 50px;
      img {
        width: 100%;
        height: auto;
      }
    }



  }
}
